In [9]:
eng = int(input("Enter English marks : "));
isl = int(input("Enter Islamiat marks : "));
maths = int(input("Enter Maths marks : "));
total = 300

percentage = (eng + isl + maths) * 100 / 300

if percentage>100:         # Incase if user enter marks more than 100 of each subject
    
    print("Percentage can't be greater than 100. Please enter correct marks");
    
elif percentage<0:         # Incase if user enter negative marks of each subject
    
    print("Percentage can't be negative. Please enter correct marks");
    
elif percentage>=80:
    print("Grade A+");
    
elif percentage>=70:
    print("Grade A");
    
elif percentage>=60:
    print("Grade B");
    
elif percentage>=50:
    print("Grade C");
    
elif percentage>=40:
    print("Grade D");
    
else:
    print("Fail")

Enter English marks : 68
Enter Islamiat marks : 43
Enter Maths marks : 65
Grade C

In [17]:
x = 3**4;
print(x);

81

In [21]:
x = 10
y = 12
a = 30
b = 7

if x+y == a-b:
    print(True);
    
else:
    print(False);

False

In [24]:
age = int(input("Enter age : "));
gender = input("Enter gender : ");

if age>=18 and gender == "male":
    print("Allow");
    
else:
    print("Donot Allow");

Enter age : 20
Enter gender : Male
Donot Allow

In [3]:
#List

name = ["Mussadiq","defw","ekkbefke" , "def"];
print(name);

['Mussadiq', 'defw', 'ekkbefke', 'def']

In [33]:
print(name[0]);

Mussadiq

In [30]:
name[1] = "Nazeer";
print(name);

['Mussadiq', 'Nazeer', 'ekkbefke', 'def']

In [34]:
# add element in list

name.append("ali");
print(name);

['Mussadiq', 'Nazeer', 'ekkbefke', 'def', 'ali']

In [35]:
arr = ["name" , 10 , True , 3.57];
print(arr);

['name', 10, True, 3.57]

In [36]:
name

['Mussadiq', 'Nazeer', 'ekkbefke', 'def', 'ali']

In [37]:
x

10

In [38]:
newList = name + arr;
print(newList);

['Mussadiq', 'Nazeer', 'ekkbefke', 'def', 'ali', 'name', 10, True, 3.57]

In [39]:
name

['Mussadiq', 'Nazeer', 'ekkbefke', 'def', 'ali']

In [40]:
# insert element anywhere in list

name.insert(2 , "I am inserted");
name

['Mussadiq', 'Nazeer', 'I am inserted', 'ekkbefke', 'def', 'ali']

In [42]:
# copy some elements from one list to another 

name2 = name[2:5];
name2

['I am inserted', 'ekkbefke', 'def']

In [43]:
name3 = name[:3]   # copy elements from 0 index to 2 index
name3

['Mussadiq', 'Nazeer', 'I am inserted']

In [44]:
del name2[1];  # deleting element from list by index
name2

['I am inserted', 'def']

In [45]:
arr

['name', 10, True, 3.57]

In [47]:
arr.remove(True);        # removing element by its value
arr

['name', 10, 3.57]

In [5]:
arr.pop();            # removing the last element 
arr

NameError: name 'arr' is not defined